doctype html
html(lang="en")
  head
    title CraftBB
    link(rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
    link(rel="stylesheet" href=asset.css + "style.css")
  body
    .container
      .header
        include header
      .content
        block content
      .footer
        include footer
    include login
    script(src="//code.jquery.com/jquery-2.2.4.min.js")
    script(src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
    script(src=asset.js + "script.js")