.modal.fade(tabindex="-1", role="dialog")#login
  .modal-dialog(role="document")
    .modal-content
      .modal-header
        button.close(type="button", data-dismiss="modal") &times;
        h4.modal-title Login / Register
      .modal-body
        p Join #{website.server}
        p Type /login
        p Follow Link